/*  your css code here. If applicable */
.header{
	background-color:#011e29;
	color:white;
	text-align:center;
	padding:10px;
	
}
body{
	background-color: #f5f5f5;
}
.latest-news-section{
	background-color:white;
	border-radius:10px;
	padding:20px;
	height:100px;
	
}

.maincontainer{
	display:flex;
	margin-top:10px;
	justify-content:center;
	justify-content:space-between;
}
.pictorial-news-section{
	background-color:white;
	border-radius:10px;
	padding:5px;
	text-align:center;
	width:200px;
	
}